body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #000;
  }
  
  .img {
    src: "https://upload.wikimedia.org/wikipedia/commons/9/98/Capital_One_logo.svg";  
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .button {
    background: #eee;
    border: 1px solid #fff;
    float: center;
    font:24px "Comic Sans MS";
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 300px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .app {
    margin-top: 200px;
    text-align: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
